apiversion: v2
name: onecx-example
version: 0.0.0
appversion: 0.0.0
dependencies:
- name: helm-product
  version: 0.4.0
  repository: oci://ghcr.io/onecx/charts
  alias: product
- name: onecx-example-custom-auth-bff
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.bff"
  alias: "bff"
- name: onecx-example-custom-auth-ui
  version: "*-0"
  repository: oci://ghcr.io/onecx/charts
  condition: "deployment.ui"
  alias: "ui"
